*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.background-nav{
    background-color: #ADD8E6;
    padding: 20px;
}

.nav-container{
    width: 80%;
    margin:auto;
    background-color: #DAA520;
    display: flex;
    justify-content: space-between;
}

.logo, .button-access{
    width: 25%;
}

.button-access{
    text-align: end;
}

nav{
    width: 50%;
    text-align: center;
}

.logo, nav, .button-access, .text-head, .section-img, .section-text, .download-container{
    border: 2px dotted black;
    /* DEBUG */
}

.background-text-head{
    background-color: #00008B;
    padding: 20px;
}

.text-head{
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: #EE82EE;
}

/* MAIN SECTION */

section{
    padding: 20px;
}
.section-container{
    width: 80%;
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: flex-start;
}

.section-img{
    width: 70%;
    background-color: #1E90FF;
}

.section-text{
    width: 30%;
    background-color: #FFC0CB;
}

.background-section{
    background-color: lightgray;
    padding: 20px;
}

.download-container{
    width: 80%;
    height: 500px;
    background-color: green;
    margin: auto;
}