*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.background-nav{
    background-color: #ADD8E6;
    padding: 20px;
}

.nav-container{
    width: 80%;
    margin:auto;
    background-color: #DAA520;
    display: flex;
    justify-content: space-between;
}

.logo, .button-access{
    width: 25%;
}

.button-access{
    text-align: end;
}

nav{
    width: 50%;
    text-align: center;
}

.logo, nav, .button-access, .text-head{
    border: 2px dotted black;
    /* DEBUG */
}

.background-text-head{
    background-color: #00008B;
    padding: 20px;
}

.text-head{
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: #EE82EE;
}